.icerik{
    width: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    font-size: larger;
}
.icerik lh{
    margin: 0px;
}
.icindekiler{
    margin-left: 15%;
    margin-top : 130px;
    width: fit-content;
    border-radius: 15px;
}
.icindekiler a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.icindekiler a:hover{
    background-color: grey;
    color: white;
}
h5{
    color: red;
}

html {
    scroll-padding-top: 110px; 
}