.icerik {
    margin-top: 150px;
    margin-bottom: 50px;
}

.icerikyazi p{
   
    margin-left: 400px;
    display: inline-block;
    width: 635px;
}
.icerikyazi h1,h2{
 text-align: center;
 margin-bottom: 30px;
}

